body {
    margin: 5% 25%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color:aliceblue;
    background-image: url(img/Pemandangan.jpg);
    background-size: cover;
    
}

table {
    margin:auto;
    padding: 10px;
    background-color: rgba(20, 95, 138, 0.5);
}

h1 {
    background-color: #333333;
    color: #ffffff;
    padding: 5%;
    text-align: center;
}

td {
    color: #ffffff;
}


